<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href="/stylesheets/style.css" />
</head>
<body>
  <h4 id = "name"><%= name%></h4>
  <div id="room-div">
	   <b>ROOMS</b>
	</div>

  <form action="/logout" method = "GET">
    <input type="submit" value="Logout">
  </form>

<div>
	<div id="conversation"></div> <br>
  <div class = "message">
  	<input id="data" style="width:200px;" />
  	<input type="button" id="datasend" value="send" /><br><br>

  </div>

</div>

  <script src = "/socket.io/socket.io.js"></script>
  <script src = "/javascripts/index.js"></script>
</body>
</html>
