<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href="/stylesheets/style.css" />
</head>
<body>
  <div id="room-div">
	<b>ROOMS</b>
	<div id="rooms"></div>
</div>
<div>
	<div id="conversation"></div>
  <div class = "message">
  	<input id="data" style="width:200px;" />
  	<input type="button" id="datasend" value="send" />
  </div>
</div>
  <script src = "/socket.io/socket.io.js"></script>
  <script src = "/javascripts/index.js"></script>
</body>
</html>
