<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href="/stylesheets/style.css" />
</head>
<body>
  <div id = "messages">
    <form>
      <input id="typing-box" autocomplete="off" /><button id="send">Send</button>
    </form>
  </div>
  <script src = "/socket.io/socket.io.js"></script>
  <script src = "/javascripts/index.js"></script>
</body>
</html>
