<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href="/stylesheets/style.css" />
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class = "parent">
    <div id = "side-panel">
      <div id = "menu-bar">
        <a class = "button is-primary name" id="name"><%= name %></a>
        <a class = "button is-primary addGroup" id="createGroup">addgroup</a>
        <a class = "button is-primary logout" onclick="handleLogout()">logout</a>
      </div>
      <div id = "room-div"></div>
    </div>

    <div id = "conversation">
      <div id = "groupNameDiv">
        <a class = "button groupName is-light is-focussed" id = "displayGroupName" onclick = "getClickedGroupName()"><b class = "alignGroupName" id = "getGroupName">groupName</b></a>
      </div>
      <div id = "textMessages"></div>

      <div class = "field typeSpace">
        <div class = "textSpace">
          <p class = "control">
            <input class = "input is-medium" id = "data" type = "text" placeholder = "Type a message...">
          </p>
        </div>
        <div class = "sendSpace">
          <p class = "control">
            <span class = "icon is-medium is-right" id = "send">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </span>
          </p>
        </div>
      </div>

    </div>

    <div class="modal" id = "modal">
      <div class="modal-background"></div>
      <div class="modal-content">
        <div id = "userContent"></div>
        <a class="button is-primary is-extended" id="closeButton" onclick = "toggleModal()">Close</a>
      </div>
    </div>


  </div>
  <script src = "/socket.io/socket.io.js"></script>
  <script src = "/javascripts/index.js"></script>

</body>
</html>
