<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel='stylesheet' href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.min.css" />
</head>
<body>
  <h3>Fill your details to register</h3>
  <% include messages %>
  <br>
  <form action = '/register' method = "POST">
    <input type = "text" name="username" placeholder="username"><br><br>
    <input type = "password" name = "userpass" placeholder = 'password'><br><br>
    <input type = "submit" value = "sign up">
  </form>
</body>
</html>
