* { margin: 0; padding: 0; box-sizing: border-box; }

#room-div {
  float:left;
  width:100px;
  border-right:1px solid black;
  height:300px;
  padding:10px;
  overflow:hidden;
  background-color: #F2F3F5;
}

#conversation-div {
  float:left;
  width:300px;
  height:250px;
  overflow:hidden;

}
#conversation {
  margin:10px;

}
a {
  text-decoration:none;
  color:#536493;
}
.username {
  color:#F30C0F
}

#datasend {
  background-color: #DDE3F3;
  width:50px;

}
