* {
  box-sizing: border-box;
}

.parent {
  height:100vh;
  display:flex;

}

#side-panel {
  flex:1;
  margin-right:4px;
}

#conversation {
  flex:3;
  background-color: white;
  overflow:auto;
  width:100%;
}

#menu-bar {
  height:6%;
  background-color: #b6b6b4;
  display:flex;
  flex-wrap:wrap;
}

.name {
  flex:1;
}
.addGroup {
  flex:1;
}
.logout {
  flex:1;
}

#groupNameDiv {
  width:100%;
  height:6%;
  background-color: #f0ffff;
  margin-bottom: 15px;
}
.groupName {
  display:block;
  width:100%;
}

.typeSpace {
  width:85%;
  position:fixed;
  bottom:0;
  height:10%;
  background-color: #f5f5dc;
  display:flex;
}
#send {
  color:black;
  cursor:pointer;
}
.textSpace {
  flex: 5;
}
.sendSpace {
  margin-left:5px;
  flex:1;
}
#room-div {
  overflow:auto;
  margin-top:10px;
}
#rooms {
  margin-bottom:5px;
}
#textMessages {
  height:550px;
  background-color: #fcdfff;
  overflow:auto;
}
.username {
  color:#3d3c3a;
}

#texts {
  min-width:50%;
  display:block;
  background-color: white;
  margin:30px;
  padding:5px;
}

.displayFalse {
  display:none;
}

#userContent {
  padding:10px;
  width:300px;
  height:500px;
  background-color: white;
  overflow: auto;
}

#closeButton {
  padding:10px;
  width:300px;
}

.displayFalse {
  display:none;
}
.displayTrue {
  display:block;
}
